body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App{
	width: 900px;
} 

.dr-timeline{
	width: 640px;
	display: block;
	height: 40px;
	background-color: orange;
	position: relative;
}
	.dr-timeline-range{
		display: block;
		position: absolute;
		height: 40px;
		top: 0;
		cursor: pointer;
	}
	.dr-timeline-range:hover{
		margin: -1px;
		border: 3px dotted #444;
	}
	.dr-timeline-cursor {
		width: 5px;
	    background: #fff;
	    z-index: 100;
	}

.dr-box{
	display: block;
	border: 1px inset;
	padding: 10px;
	border-radius: 3px;
}
	
.dr-toolbox-ranges,
.dr-toolbox-rules{
	width: 200px;
	position: absolute;
	top: 0;
	left: 700px;
}
.dr-toolbox-rules{top: 120px;}